# Analisys

Plan:
    - Посмотреть количество организаций (уникальных)
    - Посмотреть количество типов (уникальных)
    - Посмотреть колчичество уникальных адрессов (для Арсена)

    - Сделать датасет организаций (id, адресс, название, ср.рейтинг, тип, количество отзывов)
    - Сделать модель nlp классификации на типы организации

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv('D:\\BMSTU_im_Baumana\\семестры\\Семестра_5\\nlp\\with_parser.csv', sep = '\t')
df

,Unnamed: 0,adress,name_ru,rating,rubrics,text
0,0,"Екатеринбург, ул. Московская / ул. Волгоградск...",Московский квартал,3,Жилой комплекс,Московский квартал 2.\nШумно : летом по ночам ...
1,1,"Московская область, Электросталь, проспект Лен...",Продукты Ермолино,5,Магазин продуктов;Продукты глубокой заморозки;...,"Замечательная сеть магазинов в общем, хороший ..."
2,2,"Краснодар, Прикубанский внутригородской округ,...",LimeFit,1,Фитнес-клуб,"Не знаю смутят ли кого-то данные правила, но я..."
3,3,"Санкт-Петербург, проспект Энгельса, 111, корп. 1",Snow-Express,4,Пункт проката;Прокат велосипедов;Сапсёрфинг,Хорошие условия аренды. \nДружелюбный персонал...
4,4,"Тверь, Волоколамский проспект, 39",Студия Beauty Brow,5,"Салон красоты;Визажисты, стилисты;Салон бровей...",Топ мастер Ангелина топ во всех смыслах ) Немн...
...,...,...,...,...,...,...
499995,499995,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,"Охрана кривая но добрая, двери не закрываются ..."
499996,499996,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,По сравнению со многими современными платформа...
499997,499997,"Новосибирск, Коммунистическая улица, 48А",NaN,5,"Бар, паб","Приятная атмосфера, прекрасное вино, волшебная..."
499998,499998,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,Был с семьёй 13.06.23 Отличное место. Рекоменд...
499999,499999,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,"Отличные декорации... Вблизи тяп-ляп,а на фото..."

In [4]:
df = df.drop('Unnamed: 0', axis=1)
df

,adress,name_ru,rating,rubrics,text
0,"Екатеринбург, ул. Московская / ул. Волгоградск...",Московский квартал,3,Жилой комплекс,Московский квартал 2.\nШумно : летом по ночам ...
1,"Московская область, Электросталь, проспект Лен...",Продукты Ермолино,5,Магазин продуктов;Продукты глубокой заморозки;...,"Замечательная сеть магазинов в общем, хороший ..."
2,"Краснодар, Прикубанский внутригородской округ,...",LimeFit,1,Фитнес-клуб,"Не знаю смутят ли кого-то данные правила, но я..."
3,"Санкт-Петербург, проспект Энгельса, 111, корп. 1",Snow-Express,4,Пункт проката;Прокат велосипедов;Сапсёрфинг,Хорошие условия аренды. \nДружелюбный персонал...
4,"Тверь, Волоколамский проспект, 39",Студия Beauty Brow,5,"Салон красоты;Визажисты, стилисты;Салон бровей...",Топ мастер Ангелина топ во всех смыслах ) Немн...
...,...,...,...,...,...
499995,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,"Охрана кривая но добрая, двери не закрываются ..."
499996,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,По сравнению со многими современными платформа...
499997,"Новосибирск, Коммунистическая улица, 48А",NaN,5,"Бар, паб","Приятная атмосфера, прекрасное вино, волшебная..."
499998,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,Был с семьёй 13.06.23 Отличное место. Рекоменд...
499999,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,"Отличные декорации... Вблизи тяп-ляп,а на фото..."

### Загрузили. Теперь надо выполнить задачи

In [7]:
name_ru = df.name_ru.unique()
name_ru

array(['Московский квартал', 'Продукты Ермолино', 'LimeFit', ...,
       '6 Отметка', 'Бирюлёво-Пассажирская', 'Сарай-Бату'], dtype=object)

In [10]:
count_name_ru = len(name_ru)
print(f"Количество уникальных названий организаций: {count_name_ru}")

Количество уникальных названий организаций: 148457

In [11]:
adress = df.adress.unique()
adress

array(['Екатеринбург, ул. Московская / ул. Волгоградская / ул. Печатников',
       'Московская область, Электросталь, проспект Ленина, 29',
       'Краснодар, Прикубанский внутригородской округ, микрорайон имени Петра Метальникова, улица Петра Метальникова, 26',
       ..., 'Севастополь, проспект Генерала Острякова, 155В',
       'Великий Новгород, Городище, 19-й квартал',
       'Челябинск, улица Свободы, 2, корп. 5'], dtype=object)

In [141]:
count_adress = len(adress)
print(f"Количество уникальных адрессов организаций: {count_adress}")

Количество уникальных названий организаций: 191925

In [15]:
adress_df = df.adress.isna()
adress_df = df.adress.isna()

0         False
1         False
2         False
3         False
4         False
          ...
499995    False
499996    False
499997    False
499998    False
499999    False
Name: adress, Length: 500000, dtype: bool

In [16]:
rating = df.rating.unique()
rating

array([3, 5, 1, 4, 2, 0], dtype=int64)

In [17]:
rubrics = df.rubrics.unique()
rubrics

array(['Жилой комплекс',
       'Магазин продуктов;Продукты глубокой заморозки;Магазин мяса, колбас',
       'Фитнес-клуб', ...,
       'Веломагазин;Ремонт велосипедов;Оптовая компания',
       'Шиномонтаж;Шины и диски;Автосвет',
       'Школа танцев;Студия йоги;Стретчинг'], dtype=object)

In [18]:
count_rubrics= len(rubrics)
print(f"Количество уникальных названий организаций: {count_rubrics}")

Количество уникальных названий организаций: 31793

In [23]:
df_magazine_productov = df[df['rubrics'] == 'Магазин продуктов']
df_magazine_productov

,adress,name_ru,rating,rubrics,text
62,"Санкт-Петербург, Красное Село, проспект Ленина...",Технолог,3,Магазин продуктов,"Работала раньше кассирша, не русская, молодая...."
200,"Краснодарский край, Анапа, улица Ленина, 195",Продукты,3,Магазин продуктов,Магазин рассчитан на тех кому срочно что-то ку...
360,"Ленинградская область, Всеволожский район, Куй...",Фасоль,5,Магазин продуктов,Хорошее качество товара. Вежливый персонал. Ра...
398,"Красноярск, 11-я Продольная улица, 25",Сибирские продукты,5,Магазин продуктов,Раньше был так себе. А сейчас отличный магазин...
694,"Амурская область, Белогорск, улица Скорикова, 20",Белорусский ГОСТинец,4,Магазин продуктов,"Хороший магазинчик, из ассортимента мало вкусн..."
...,...,...,...,...,...
499766,"Московская область, Красногорск, улица имени Е...",Да!,5,Магазин продуктов,Хороший и удобный магазин. Качество продуктов ...
499767,"Московская область, Красногорск, улица имени Е...",Да!,5,Магазин продуктов,"Магазин находится немного в стороне от ""торгов..."
499816,"Республика Татарстан, Бугульма, улица Ленина, ...",Виктория,5,Магазин продуктов,"Очень хороши магазин, всегда свежая выпечка и ..."
499890,"Ярославская область, Углич, Рыбинское шоссе, 22В",Из Углича,5,Магазин продуктов,Были перед февральскими праздниками в 2023 год...
499909,"Архангельск, Троицкий проспект, 121к2",Альбатрос,5,Магазин продуктов,Хороший магазин. Большой ассортимент вкусной и...

In [28]:
df_rubrics = pd.DataFrame(data=rubrics)
df_rubrics

                                                       0
0                                         Жилой комплекс
1      Магазин продуктов;Продукты глубокой заморозки;...
2                                            Фитнес-клуб
3            Пункт проката;Прокат велосипедов;Сапсёрфинг
4      Салон красоты;Визажисты, стилисты;Салон бровей...
...                                                  ...
31788  Строительный магазин;Крепёжные изделия;Кровля ...
31789  Строительство бань и саун;Строительство дачных...
31790    Веломагазин;Ремонт велосипедов;Оптовая компания
31791                   Шиномонтаж;Шины и диски;Автосвет
31792                 Школа танцев;Студия йоги;Стретчинг

[31793 rows x 1 columns]

In [35]:
df

,adress,name_ru,rating,rubrics,text
0,"Екатеринбург, ул. Московская / ул. Волгоградск...",Московский квартал,3,Жилой комплекс,Московский квартал 2.\nШумно : летом по ночам ...
1,"Московская область, Электросталь, проспект Лен...",Продукты Ермолино,5,Магазин продуктов;Продукты глубокой заморозки;...,"Замечательная сеть магазинов в общем, хороший ..."
2,"Краснодар, Прикубанский внутригородской округ,...",LimeFit,1,Фитнес-клуб,"Не знаю смутят ли кого-то данные правила, но я..."
3,"Санкт-Петербург, проспект Энгельса, 111, корп. 1",Snow-Express,4,Пункт проката;Прокат велосипедов;Сапсёрфинг,Хорошие условия аренды. \nДружелюбный персонал...
4,"Тверь, Волоколамский проспект, 39",Студия Beauty Brow,5,"Салон красоты;Визажисты, стилисты;Салон бровей...",Топ мастер Ангелина топ во всех смыслах ) Немн...
...,...,...,...,...,...
499995,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,"Охрана кривая но добрая, двери не закрываются ..."
499996,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,По сравнению со многими современными платформа...
499997,"Новосибирск, Коммунистическая улица, 48А",NaN,5,"Бар, паб","Приятная атмосфера, прекрасное вино, волшебная..."
499998,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,Был с семьёй 13.06.23 Отличное место. Рекоменд...
499999,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,"Отличные декорации... Вблизи тяп-ляп,а на фото..."

In [31]:
df_copy = df.copy()

In [32]:
df_copy = df.drop(['adress', 'name_ru', 'rating', 'text'], axis=1)
df_copy

                                                  rubrics
0                                          Жилой комплекс
1       Магазин продуктов;Продукты глубокой заморозки;...
2                                             Фитнес-клуб
3             Пункт проката;Прокат велосипедов;Сапсёрфинг
4       Салон красоты;Визажисты, стилисты;Салон бровей...
...                                                   ...
499995                            Железнодорожная станция
499996                            Железнодорожная станция
499997                                           Бар, паб
499998                              Достопримечательность
499999                              Достопримечательность

[500000 rows x 1 columns]

### Сколько раз встречается каждая категория

In [36]:
df_group_by_rubrics = df_copy['rubrics'].value_counts()
df_group_by_rubrics

rubrics
Гостиница                                                          42242
Ресторан                                                           14615
Кафе                                                               12366
Супермаркет                                                         8899
Магазин продуктов                                                   5289
                                                                   ...
Технические и медицинские газы;Сварочные работы;Кованые изделия        1
Ресторан;Бар, паб;Кафе;Столовая                                        1
Буровые работы;Нефтегазовая компания                                   1
Детский магазин;Детская мебель;Пункт выдачи                            1
Школа танцев;Студия йоги;Стретчинг                                     1
Name: count, Length: 31793, dtype: int64

In [60]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     -------------- ------------------------ 92.2/250.0 kB 2.6 MB/s eta 0:00:01
     -------------------------- ----------- 174.1/250.0 kB 1.7 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [61]:
df_ser = df_group_by_rubrics.to_frame(name='count')
df_ser.to_excel('file.xlsx')

In [67]:
df_group_by_rubrics

rubrics
Гостиница                                                          42242
Ресторан                                                           14615
Кафе                                                               12366
Супермаркет                                                         8899
Магазин продуктов                                                   5289
                                                                   ...
Технические и медицинские газы;Сварочные работы;Кованые изделия        1
Ресторан;Бар, паб;Кафе;Столовая                                        1
Буровые работы;Нефтегазовая компания                                   1
Детский магазин;Детская мебель;Пункт выдачи                            1
Школа танцев;Студия йоги;Стретчинг                                     1
Name: count, Length: 31793, dtype: int64

In [77]:
df_ser_rubr = pd.DataFrame({'rubrics':df_group_by_rubrics.index, 'count':df_group_by_rubrics.values})
df_ser_rubr

                                                 rubrics  count
0                                              Гостиница  42242
1                                               Ресторан  14615
2                                                   Кафе  12366
3                                            Супермаркет   8899
4                                      Магазин продуктов   5289
...                                                  ...    ...
31788  Технические и медицинские газы;Сварочные работ...      1
31789                    Ресторан;Бар, паб;Кафе;Столовая      1
31790               Буровые работы;Нефтегазовая компания      1
31791        Детский магазин;Детская мебель;Пункт выдачи      1
31792                 Школа танцев;Студия йоги;Стретчинг      1

[31793 rows x 2 columns]

In [78]:
df_ser_rubr = df_ser_rubr.assign(split_rubrics=df_ser_rubr['rubrics'].str.split(';'))
df_ser_rubr

,rubrics,count,split_rubrics
0,Гостиница,42242,[Гостиница]
1,Ресторан,14615,[Ресторан]
2,Кафе,12366,[Кафе]
3,Супермаркет,8899,[Супермаркет]
4,Магазин продуктов,5289,[Магазин продуктов]
...,...,...,...
31788,Технические и медицинские газы;Сварочные работ...,1,"[Технические и медицинские газы, Сварочные раб..."
31789,"Ресторан;Бар, паб;Кафе;Столовая",1,"[Ресторан, Бар, паб, Кафе, Столовая]"
31790,Буровые работы;Нефтегазовая компания,1,"[Буровые работы, Нефтегазовая компания]"
31791,Детский магазин;Детская мебель;Пункт выдачи,1,"[Детский магазин, Детская мебель, Пункт выдачи]"
31792,Школа танцев;Студия йоги;Стретчинг,1,"[Школа танцев, Студия йоги, Стретчинг]"

Пример того, что рубрики разбились на списки каких-то примитивов, типа [Магазин], или [Магазин продуктов, Магазин]

In [79]:
df_ser_rubr.iloc[31789].split_rubrics[1]

'Бар, паб'

In [81]:
df_ser_rubrics = df_ser_rubr.assign(split_rubrics=df_ser_rubr['rubrics'].str.split(';')).explode('split_rubrics')
df_ser_rubrics

                                           rubrics  count      split_rubrics
0                                        Гостиница  42242          Гостиница
1                                         Ресторан  14615           Ресторан
2                                             Кафе  12366               Кафе
3                                      Супермаркет   8899        Супермаркет
4                                Магазин продуктов   5289  Магазин продуктов
...                                            ...    ...                ...
31791  Детский магазин;Детская мебель;Пункт выдачи      1     Детская мебель
31791  Детский магазин;Детская мебель;Пункт выдачи      1       Пункт выдачи
31792           Школа танцев;Студия йоги;Стретчинг      1       Школа танцев
31792           Школа танцев;Студия йоги;Стретчинг      1        Студия йоги
31792           Школа танцев;Студия йоги;Стретчинг      1          Стретчинг

[93163 rows x 3 columns]

In [82]:
unique_rubrics_as_primitive = df_ser_rubrics.split_rubrics.unique()
unique_rubrics_as_primitive

array(['Гостиница', 'Ресторан', 'Кафе', ..., 'Взрывные работы',
       'Мелиоративные работы', 'Таксидермия'], dtype=object)

In [84]:
count_primitive_rubrics = len(unique_rubrics_as_primitive)
print(f"Количество примитивных рубрик: {count_primitive_rubrics}")

Количество примитивных рубрик: 1370

In [114]:
df_ser_rubrics_copy = df_ser_rubrics.copy()

In [115]:
df_ser_rubrics_copy.columns

Index(['rubrics', 'count', 'split_rubrics'], dtype='object')

In [116]:
df_ser_rubrics_copy = df_ser_rubrics_copy.drop(['rubrics'], axis = 1)
df_ser_rubrics_copy

       count      split_rubrics
0      42242          Гостиница
1      14615           Ресторан
2      12366               Кафе
3       8899        Супермаркет
4       5289  Магазин продуктов
...      ...                ...
31791      1     Детская мебель
31791      1       Пункт выдачи
31792      1       Школа танцев
31792      1        Студия йоги
31792      1          Стретчинг

[93163 rows x 2 columns]

In [117]:
df_groupby_privitive_rubrics = df_ser_rubrics_copy.groupby(['split_rubrics']).sum()
df_groupby_privitive_rubrics

                          count
split_rubrics
3D-услуги                    34
GPS-оборудование             48
IP-телефония                107
IT-компания                 482
PR-агентство                 11
...                         ...
Ювелирный магазин          1087
Юридические услуги         1944
Яйцо и мясо птицы           482
Яхт-клуб                    128
​Распределительный центр      1

[1370 rows x 1 columns]

In [120]:
df_r = df[df['rubrics'] == 'IT-компания']
df_r

,adress,name_ru,rating,rubrics,text
13114,"Москва, Очаковское шоссе, 28, стр. 2",Квик Старт,5,IT-компания,Я устроилась в данную команду как SMM специали...
18684,"Воронеж, Первоцветная улица, 7",Google,5,IT-компания,"Невероятно уютное место, с отличным персоналом..."
19633,"Москва, Измайловский проезд",Програм Лайн,5,IT-компания,Отличное решение для автоматических рассылок. ...
44115,"Санкт-Петербург, улица Профессора Попова, 5, к...",Ai Seo copywriting,5,IT-компания,Недавно я решила протестировать AI SEO Copyrig...
46931,"Санкт-Петербург, улица Савушкина, 126Б",Окко,1,IT-компания,Пользовался сервисом полтора года. Подписка Оп...
...,...,...,...,...,...
488672,"Ярославль, улица Свободы, 36",Ams Software,5,IT-компания,Хочу выразить огромную благодарность за вашу п...
488673,"Ярославль, улица Свободы, 36",Ams Software,5,IT-компания,Фотомастер удобная программа с доступным и лог...
488674,"Ярославль, улица Свободы, 36",Ams Software,5,IT-компания,в этом году приобрёл программу и очень доволен...
488675,"Ярославль, улица Свободы, 36",Ams Software,4,IT-компания,"Очень хочется поработать с программой, но она ..."
495620,"Москва, 1-я Тверская-Ямская улица, 23, стр. 1",Кьюго,5,IT-компания,"В начале пути, когда мой бизнес обходился деся..."

In [122]:
df_groupby_privitive_rubrics.to_excel('privitive_rubrics_frequency.xlsx')

In [131]:
dayving = df[df['rubrics'] == 'Дайвинг']
dayving

,adress,name_ru,rating,rubrics,text
75340,"Москва, Автозаводская улица, 21",Студия дайвинга,5,Дайвинг,"Отличное место для тех, кто хочет начать заним..."
77208,"Краснодарский край, городской округ Анапа, сел...",Дайвинг,5,Дайвинг,"Дайвинг Супер! Инструктора всё молодцы, профес..."
87741,"Рязанская область, Пронский район, Новомичурин...",Дайвинг-центр Садко,5,Дайвинг,"Впервые был на подобном мероприятии, очень атм..."
87742,"Рязанская область, Пронский район, Новомичурин...",Дайвинг-центр Садко,5,Дайвинг,Отличная база для ice diving. Тёплое помещение...
119083,"Республика Крым, Алушта, Набережная улица, 24Б",Дайв-центр Кастель,5,Дайвинг,Спасибо огромное за море эмоций от красот подв...
122673,"Санкт-Петербург, Приморский проспект, 72",Нева-Дайверс,5,Дайвинг,"Прекрасное место, чтобы познакомиться с удивит..."
146860,"Краснодарский край, Геленджик, Набережная улиц...",Reef Dive Club,5,Дайвинг,Спасибо дайвклубу за незабываемые эмоции!! Сна...
146861,"Краснодарский край, Геленджик, Набережная улиц...",Reef Dive Club,5,Дайвинг,Привлекло необычное расположение Reef\nDive Cl...
146862,"Краснодарский край, Геленджик, Набережная улиц...",Reef Dive Club,5,Дайвинг,"Погружалась первый раз,очень боялась,когда тол..."
189819,"Москва, 1-я Владимирская улица, 10Б, стр. 2",AquaWorld,5,Дайвинг,"Отличный дайв центр. Опытные инструктора, хоро..."
208144,"Республика Крым, Черноморский район, Оленевско...",Дайв-центр Одесский стан,5,Дайвинг,Нам очень понравилось. Очень приятные хозяева....
246983,"Санкт-Петербург, Средний проспект Васильевског...",Prodiving Club,5,Дайвинг,"Отлично,Анатольечу ,Ване большой махтал,баня с..."
250817,"Санкт-Петербург, Средний проспект Васильевског...",Pro Diving Club,5,Дайвинг,Очень качественная продукция. Прекрасное обслу...
265787,"Новосибирск, улица Залесского, 3/1",ВремяНырять,5,Дайвинг,Как искатель приключений и любитель подводного...
326297,"Краснодарский край, Геленджик, Парковая улица, 1А",Вымпел Эпрон,5,Дайвинг,Однозначно максимально комфортная атмосфера ца...
326298,"Краснодарский край, Геленджик, Парковая улица, 1А",Вымпел Эпрон,5,Дайвинг,"Отличный дайвцентр. Активные ребята, очень опы..."
333751,"Санкт-Петербург, Новочеркасский проспект, 5А",Тортуга Дайв-центр,5,Дайвинг,Мне посчастливилось найти в Петербурге лучший ...
333752,"Санкт-Петербург, Новочеркасский проспект, 5А",Тортуга Дайв-центр,5,Дайвинг,"Замечательный бассейн для обучения дайвингу, х..."
344761,"Москва, Большая Филёвская улица, 18","Альфа центр, дайвинг клуб",5,Дайвинг,"Отличный дайв-центр. Отучился с удовольствием,..."
373915,"Республика Крым, городской округ Судак, село М...",Дайв-центр Волшебник,5,Дайвинг,Отношение! Самое важное это отношение к людям....
373916,"Республика Крым, городской округ Судак, село М...",Дайв-центр Волшебник,5,Дайвинг,Отличный ДЦ ! Профессионализм и индивидуальный...
387813,"Приморский край, Хасанский муниципальный округ...",Океан,5,Дайвинг,В этом году я всё таки решилась открыть для се...
455533,"Московская область, Щёлково",Альтернатива,3,Дайвинг,"Был не во многих местах для погружения. Но, вс..."
476463,"Республика Крым, Ялта, улица Свердлова, 7Б",Морской кот,5,Дайвинг,"Классное место, лично я советую посетить его, ..."
482340,"Краснодарский край, Сочи, бульвар Надежд, 1/8",Пираты,1,Дайвинг,Какой дайвинг? В этой зоне уже несколько лет к...

In [132]:
moscow_df = df[df['adress'].str.contains("Москва")]
moscow_df

,adress,name_ru,rating,rubrics,text
8,"Москва, 4-й Кожевнический переулок, 4",Jinju,5,Кафе;Кофейня,"5 из 5🖤 Пил кофе и в Риме, и в Париже, но вку..."
9,"Москва, 4-й Кожевнический переулок, 4",Jinju,4,Кафе;Кофейня,"Не очень удобное расположение, от метро идти м..."
15,"Москва, улица Малая Дмитровка, 15",Healingbowl,5,Магазин подарков и сувениров;Музыкальный магазин,Заказывала чашу онлайн. Перед этим посмотрела ...
21,"Москва, улица Кирпичные Выемки, 2, корп. 1",Власть взгляда,5,Салон бровей и ресниц,Большое спасибо Миле за такие красивые и объём...
41,"Москва, Старокалужское шоссе, 62",Eastlines,5,Автомобильные грузоперевозки;Перевозка негабар...,"5 звезд вашему сервису! Очень понравилось, что..."
...,...,...,...,...,...
499992,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,5,Железнодорожная станция,Редко бываю здесь. В основном проездом в г. Ви...
499993,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,5,Железнодорожная станция,Отличный пересадочный узел.
499994,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,5,Железнодорожная станция,Хороший способ избежать автобусной пытки. Элек...
499995,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,"Охрана кривая но добрая, двери не закрываются ..."
499996,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,По сравнению со многими современными платформа...

In [133]:
mos_obl_df = df[df['adress'].str.contains("Московская область")]
mos_obl_df

,adress,name_ru,rating,rubrics,text
1,"Московская область, Электросталь, проспект Лен...",Продукты Ермолино,5,Магазин продуктов;Продукты глубокой заморозки;...,"Замечательная сеть магазинов в общем, хороший ..."
19,"Московская область, Наро-Фоминск, улица Калини...",Автомойка Чистякоff,1,Автомойка,Раньше было нормально и мыли хорошо. Но больше...
23,"Московская область, Орехово-Зуевский городской...",Пицца РИО,5,Кафе;Ресторан;Столовая,Очень вкусно! И по домашнему! Замечательный ко...
30,"Московская область, Шатура, Ботинский проезд, 37",Шатура,5,Магазин мебели,Заказала прихожую в ТЦ Ярмарка Мебели Говорово...
37,"Московская область, Богородский городской окру...",La Vie EN Roses,5,Магазин цветов;Магазин подарков и сувениров;То...,Спасибо за красивый качественный букетик цвето...
...,...,...,...,...,...
499899,"Московская область, Мытищи, Шараповский проезд...",Ecco,5,Магазин обуви;Детский магазин;Магазин галантер...,"Хороший магазин, отзывчивые продавцы, помогли ..."
499947,"Московская область, Дмитровский городской окру...",Станция Яхрома,5,Железнодорожная станция,"Мост требует ремонта, срочный... Слава богу сд..."
499948,"Московская область, Дмитровский городской окру...",Станция Яхрома,5,Железнодорожная станция,"Отличная локация , зимой можно покататься на л..."
499962,"Московская область, Химки, Московская улица, 14",Мой Ашан,3,Супермаркет;Магазин продуктов;Продуктовый гипе...,Оценку снизил из-за приезжей продавца с явным ...
499963,"Московская область, Долгопрудный, Старое Дмитр...",Поедим у друзей,5,Быстрое питание;Магазин рыбы и морепродуктов,Вкусная шаурма с нереально свежими овощами и в...

In [ ]:
55.725149, 37.649085

In [139]:
uniq_add = df.adress.unique()
uniq_add

array(['Екатеринбург, ул. Московская / ул. Волгоградская / ул. Печатников',
       'Московская область, Электросталь, проспект Ленина, 29',
       'Краснодар, Прикубанский внутригородской округ, микрорайон имени Петра Метальникова, улица Петра Метальникова, 26',
       ..., 'Севастополь, проспект Генерала Острякова, 155В',
       'Великий Новгород, Городище, 19-й квартал',
       'Челябинск, улица Свободы, 2, корп. 5'], dtype=object)

In [140]:
dress_df = pd.DataFrame(data=uniq_add, columns=['adress'])
len(dress_df)

191925

In [142]:
dress_df = pd.DataFrame(data=uniq_add, columns=['adress'])
dress_df

                                                   adress
0       Екатеринбург, ул. Московская / ул. Волгоградск...
1       Московская область, Электросталь, проспект Лен...
2       Краснодар, Прикубанский внутригородской округ,...
3        Санкт-Петербург, проспект Энгельса, 111, корп. 1
4                       Тверь, Волоколамский проспект, 39
...                                                   ...
191920                    Саратов, Астраханская улица, 1Е
191921        Саратовская область, рабочий посёлок Озинки
191922     Севастополь, проспект Генерала Острякова, 155В
191923           Великий Новгород, Городище, 19-й квартал
191924               Челябинск, улица Свободы, 2, корп. 5

[191925 rows x 1 columns]

In [143]:
dress_df.to_csv('all_adresses.csv')

In [144]:
moscow_df

,adress,name_ru,rating,rubrics,text
8,"Москва, 4-й Кожевнический переулок, 4",Jinju,5,Кафе;Кофейня,"5 из 5🖤 Пил кофе и в Риме, и в Париже, но вку..."
9,"Москва, 4-й Кожевнический переулок, 4",Jinju,4,Кафе;Кофейня,"Не очень удобное расположение, от метро идти м..."
15,"Москва, улица Малая Дмитровка, 15",Healingbowl,5,Магазин подарков и сувениров;Музыкальный магазин,Заказывала чашу онлайн. Перед этим посмотрела ...
21,"Москва, улица Кирпичные Выемки, 2, корп. 1",Власть взгляда,5,Салон бровей и ресниц,Большое спасибо Миле за такие красивые и объём...
41,"Москва, Старокалужское шоссе, 62",Eastlines,5,Автомобильные грузоперевозки;Перевозка негабар...,"5 звезд вашему сервису! Очень понравилось, что..."
...,...,...,...,...,...
499992,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,5,Железнодорожная станция,Редко бываю здесь. В основном проездом в г. Ви...
499993,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,5,Железнодорожная станция,Отличный пересадочный узел.
499994,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,5,Железнодорожная станция,Хороший способ избежать автобусной пытки. Элек...
499995,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,"Охрана кривая но добрая, двери не закрываются ..."
499996,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,По сравнению со многими современными платформа...

In [148]:
uniq_moscow = dress_df[dress_df['adress'].str.contains("Москва")]
uniq_moscow

                                            adress
8            Москва, 4-й Кожевнический переулок, 4
13               Москва, улица Малая Дмитровка, 15
18      Москва, улица Кирпичные Выемки, 2, корп. 1
31                Москва, Старокалужское шоссе, 62
43                 Москва, Болотная набережная, 15
...                                            ...
191875         Москва, улица Борисовские Пруды, 1А
191881                Москва, Нагорная улица, 15к8
191891              Москва, Люблинская улица, 76к3
191897              Москва, проспект Андропова, 1А
191912          Москва, Старопетровский проезд, 10

[26104 rows x 1 columns]

In [149]:
uniq_moscow.to_csv('moscow_unique_adress.csv')