In [1]:
import numpy as np
import pandas as pd

In [2]:
path_files = 'addresses/'

In [3]:
address_1 = [x.split('\n')[0] for x in open(path_files + 'file_0_4470.txt')]
address_2 = [x.split('\n')[0] for x in open(path_files + 'file_4470_7000.txt')]
address_3 = [x.split('\n')[0] for x in open(path_files + 'file_7000_8000.txt')]
address_4 = [x.split('\n')[0] for x in open(path_files + 'file_8000_9000.txt')]
address_5 = [x.split('\n')[0] for x in open(path_files + 'file_9000_9150.txt')]
address_6 = [x.split('\n')[0] for x in open(path_files + 'file_9150_11041.txt')]
address_7 = [x.split('\n')[0] for x in open(path_files + 'file_11042_15198.txt')]
address_8 = [x.split('\n')[0] for x in open(path_files + 'file_15198_16788.txt')]
address_9 = [x.split('\n')[0] for x in open(path_files + 'file_16788_21814.txt')]

In [4]:
# Check
l1 = len(address_1)
l2 = len(address_2)
l3 = len(address_3)
l4 = len(address_4)
l5 = len(address_5)
l6 = len(address_6)
l7 = len(address_7)
l8 = len(address_8)
l9 = len(address_9)
print(f"Длина каждого из наборов: {l1}, {l2}, {l3}, {l4}, {l5}, {l6}, {l7}, {l8}, {l9}")
print(f"Длина суммарная всех наборов: {l1 + l2 + l3 + l4 + l5 + l6 + l7 + l8 + l9}")

Длина каждого из наборов: 4470, 2530, 1000, 1000, 150, 1891, 4157, 1590, 5026
Длина суммарная всех наборов: 21814

In [7]:
all_address = address_1 + address_2 + address_3 \
    + address_4 + address_5 + address_6 \
    + address_7 + address_8 + address_9

In [8]:
len_all_addresses = len(all_address)
print(f"Длина всех адресов: {len_all_addresses}")

Длина всех адресов: 21814

In [7]:
db = pd.read_csv('/Users/aleksejshevcenko/Documents/BMSTU/Semester_5/BasdeOfTAI/tg-bot-recsys/moscow_unique_adress.csv')
db = db.drop('Unnamed: 0', axis=1)
db

                                           adress
0           Москва, 4-й Кожевнический переулок, 4
1               Москва, улица Малая Дмитровка, 15
2      Москва, улица Кирпичные Выемки, 2, корп. 1
3                Москва, Старокалужское шоссе, 62
4                 Москва, Болотная набережная, 15
...                                           ...
26099         Москва, улица Борисовские Пруды, 1А
26100                Москва, Нагорная улица, 15к8
26101              Москва, Люблинская улица, 76к3
26102              Москва, проспект Андропова, 1А
26103          Москва, Старопетровский проезд, 10

[26104 rows x 1 columns]

In [14]:
all = pd.read_csv('all_adresses.csv')
all = all.drop('Unnamed: 0', axis=1)
all

                                                   adress
0       Екатеринбург, ул. Московская / ул. Волгоградск...
1       Московская область, Электросталь, проспект Лен...
2       Краснодар, Прикубанский внутригородской округ,...
3        Санкт-Петербург, проспект Энгельса, 111, корп. 1
4                       Тверь, Волоколамский проспект, 39
...                                                   ...
191920                    Саратов, Астраханская улица, 1Е
191921        Саратовская область, рабочий посёлок Озинки
191922     Севастополь, проспект Генерала Острякова, 155В
191923           Великий Новгород, Городище, 19-й квартал
191924               Челябинск, улица Свободы, 2, корп. 5

[191925 rows x 1 columns]

In [19]:
mos_obl = all[all['adress'].str.contains('Московская область')]
mos_obl

                                                   adress
1       Московская область, Электросталь, проспект Лен...
16      Московская область, Наро-Фоминск, улица Калини...
20      Московская область, Орехово-Зуевский городской...
24       Московская область, Шатура, Ботинский проезд, 37
27      Московская область, Богородский городской окру...
...                                                   ...
191863  Московская область, Солнечногорск, Лесная улиц...
191870  Московская область, Красногорск, улица имени Е...
191886  Московская область, Балашиха, микрорайон Желез...
191889  Московская область, Подольск, Комсомольская ул...
191899  Московская область, Красногорск, Центральная у...

[18707 rows x 1 columns]

In [20]:
mos_obl.to_csv('moscow_oblasty_adress.csv')